<ion-view view-title="Register">

  <ion-content>

  <div class="reigser-logo">
  	logo
  </div>

 <div class="list">
  
  <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Email">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Password</span>
    <input type="password" placeholder="Password">
  </label>
</div>

<a href="#/import">
  <button class="button button-block button-positive button-register">
  Register
</button>
</a>
  </ion-content>
</ion-view>
