<ion-view view-title="Dashboard">
  <ion-content class="padding">
<div class="row dash-table">
    <table class="table-condensed table-bordered table-striped">
                <thead>
                    <tr>
                      <th colspan="7">
                        <span class="btn-group">
                            <a class="btn"><i class="icon-chevron-left"></i></a>
                          <a class="btn active">October 2016</a>
                          <a class="btn"><i class="icon-chevron-right"></i></a>
                        </span>
                      </th>
                    </tr>
                    <tr>
                        <th>Mon</th>
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thu</th>
                        <th>Fri</th>
                        <th>Sat</th>
                        <th>Sun</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="red">10</td>
                        <td class="red">11</td>
                        <td class="green">12</td>
                        <td class="green">13</td>
                        <td class="green">14</td>
                        <td class="green">15</td>
                        <td class="now">16</td>
                    </tr>
                </tbody>
            </table>
    </div>
<br>
<hr>
<br>
    <div class="list">

    <a class="item item-avatar" href="#">
      <img src="venkman.jpg">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>

    ...

</div>
  </ion-content>
</ion-view>
